.complaintbox-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:20px;
}

@media screen and (max-width: 768px) {
    .complaintbox-containe{
        display:wrap;
    }
  }